/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    /* Background color */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

/* Links inside the navbar */
.navbar li {
    flex: 10%;
    /* Set each list item to occupy 25% of the container width */
    text-align: center;
}

.navbar a {
    display: block;
    color: white;
    padding: 14px 20px;
    /* Padding for each link */
    text-decoration: none;
}

/* Change background color on hover */
.navbar a:hover {
    background-color: #ddd;
    /* Background color on hover */
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #555;
    /* Background color of active/current link */
    color: white;
}