.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-menu li.active {
    background-color: #555;
}

.navbar-menu li:hover {
    background-color: #555;
}